body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    
}
.log
{
    height: 100vh;
    width: 100vw;
    background-image:url('banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
.form-box
{
    border-radius: 15px;
    border-color: rgb(14, 18, 216);
    border-style:groove;
    box-shadow: black;
    border-width: 5px;
    width: 340px;
    height: 580px;
    position: relative;
    margin: 6% auto;
    background-color: #ffffff;
    padding: 2px;
    overflow: hidden;
    align-self: center;

}
.btn-box
{
    width: 220px;
    margin:35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61214f;
    border-radius: 30px;
}
.toggle-btn
{
    padding:10px 30px;
    cursor: pointer;
    background: transparent;
    border:0;
    outline:none;
    position:relative;
}
#btn
{
    top:0;
    left:0;
    position: absolute;
    border-radius: 30px;
    width: 110px;
    height: 100%;
    background:linear-gradient(to right, #ff102f,#ffab06);
    transition: 0.5s;
}
.social-ico
{
    margin: 30px auto;
    text-align: center;

}
.social-ico img
{
    width: 30px;
    margin:0 12px;
    box-shadow: 0 0 20 0 #7f7f7f3d ;
    cursor: pointer;
    border-radius: 50%;
}
.in-grp
{
    top:180px;
    position: absolute;
    width: 280px;
    transform: .5s;
    
}
.in-grp1
{
    top:180px;
    position: absolute;
    width: 280px;
    transform: .5s;
    margin-left: 10px;
    text-align: center;
    
}
.in-field
{
    width: 100%;
    padding: 10px 20px;
    margin:5px ;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    text-align: center;
    margin-right: 20%;
    
}
.in-field1
{
  
    padding: 10px 20px;
    margin:5px ;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin-left: 10px;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    text-align: center;
    margin-right: 20%;
    
}
.sbt-btn
{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-left: 55px;
    background:linear-gradient(to right, #ff105f,#ffad06);
    border:0;
    border-radius: 30px;
    
   
}
.sbt-btn1
{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-left: 10px;
    background:linear-gradient(to right, #ff105f,#ffad06);
    border:0;
    border-radius: 30px;
    
   
}
.ck
{
    margin: 30px 10px 30px 10px ;
  

}

span{
    color:#777;
    font-size: 12px;
    bottom:68px;
    position: absolute;
}
#login
{
    left: 0px;
    right:10px;
    
}
#register
{
    left: 450px;
}